In [1]:
import pandas as pd
from sklearn.linear_model import LogisticRegression

from binary_classifier_wrapper import KfoldBinaryClassifierWrapper

In [2]:
titanic = pd.read_csv("./data/train.csv")

In [3]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [4]:
titanic["Age"].fillna(titanic["Age"].median(), inplace=True)

In [5]:
titanic = titanic.drop(['PassengerId','Name','Ticket', 'Cabin', 'Embarked'], axis=1)

In [6]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
Survived    891 non-null int64
Pclass      891 non-null int64
Sex         891 non-null object
Age         891 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Fare        891 non-null float64
dtypes: float64(2), int64(4), object(1)
memory usage: 48.8+ KB

In [7]:
lr_model = LogisticRegression()

In [8]:
all_feature_names = titanic.columns.tolist()

In [9]:
all_feature_names

['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare']

In [10]:
categorical_feature_names = ['Sex']

In [11]:
label_name = 'Survived'

In [12]:
k_fold_binary = KfoldBinaryClassifierWrapper(titanic, all_feature_names, label_name, categorical_feature_names, 5)

In [13]:
k_fold_binary.set_up_model(lr_model)

In [14]:
pred_results = k_fold_binary.run()

In [15]:
pred_results.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 0 to 890
Data columns (total 3 columns):
label         178 non-null object
pred_prob     178 non-null object
pred_label    178 non-null object
dtypes: object(3)
memory usage: 27.8+ KB

In [16]:
pred_results.head()

  label  pred_prob pred_label
0     0  0.0106252          0
1   NaN        NaN        NaN
2   NaN        NaN        NaN
3     1   0.991661          1
4   NaN        NaN        NaN